/* global */
.login {
	float: right;
}

.seat-order {
	background: #ff5db4;
	color: #fff;
}
/* home */
.slider-review {
	position: relative;
	align-items: center;
	background: url('https://phunugioi.com/wp-content/uploads/2020/02/mau-background-dep.jpg');
	background-repeat: no-repeat;
    width: 100%;
}
.slider-items {
    display: flex;
    justify-content: center;
    
}
.slider-items-card {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.preview-video {
    border: none;
    width: 600px;
    height: 400px;
}
/*  */

/*  */

.main-container {
	width: 270px;
	height: 540px;
	position: relative;
	margin: 0 20px;
}

.poster-container {
	width: 230px;
	position: absolute;
	top: 0;
	left: 20px;
	z-index: 9999;
}

.poster {
	width: 100%;
	box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
}

.ticket-container {
	background: #fff;
	width: 270px;
	height: 520px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 5px;
	position: absolute;
	top: 20px;
	box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
	opacity: 0;
}

.main-container:hover .ticket-container {
	opacity: 1;
	animation: bounceIn 0.6s linear;
}

@keyframes bounceIn {
	0%,
	20%,
	40%,
	60%,
	80%,
	to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}
	20% {
		-webkit-transform: scale3d(1.03, 1.03, 1.03);
		transform: scale3d(1.03, 1.03, 1.03);
	}
	40% {
		-webkit-transform: scale3d(0.9, 0.9, 0.9);
		transform: scale3d(0.9, 0.9, 0.9);
	}
	60% {
		opacity: 1;
		-webkit-transform: scale3d(1.01, 1.01, 1.01);
		transform: scale3d(1.01, 1.01, 1.01);
	}
	80% {
		-webkit-transform: scale3d(0.97, 0.97, 0.97);
		transform: scale3d(0.97, 0.97, 0.97);
	}
	to {
		opacity: 1;
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}
}

/* @keyframes bounce {
  50% {
    opacity: 1;
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
} */

.ticket__content {
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: center;
}

.ticket__movie-title {
	text-transform: uppercase;
	margin-bottom: 5px;
}

.ticket__movie-slogan {
	color: #999;
	font-size: 0.9rem;
	margin-bottom: 20px;
}

.ticket__current-price {
	color: #69c982;
	font-size: 1.4rem;
	font-weight: bold;
}

.ticket__old-price {
	color: #999;
	text-decoration: line-through;
	margin-bottom: 10px;
}

.ticket__buy-btn {
	cursor: pointer;
	width: 100%;
	background: #2f2f2f;
	color: white;
	padding: 15px 0;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	border: 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}


/* box sticky */
.box-buy-ticket {
    position: absolute;
    right: 5%;
    top: 100px;
	width: 400px;
	height: 400px;
    z-index: 2;
    /* background-color: rgba(0, 0, 0, 0.8); */
    padding-bottom: 14px;
}

/* end box sticky */
@media only screen and (max-width: 720px) {
    .preview-video {
        border: none;
        width: 300px;
        height: 200px;
    }
    /* .menu {
        width: 200px;
    } */

	.box-buy-ticket {
		right: 0;
    	top: 20%;
		width: calc(100% - 20px);
		margin: 10px;
	}

	.logo img {
		width: 50%;
	}
	.ant-layout-header {
		padding: 0 8px;
		width: 50px;
	}
}


/* support antd */
.ant-picker {
	width: 100% !important;
}

.buying-ticket .film-menu .ant-menu-item {
	height: 100px;
	padding-left: 0;
	border: solid rgb(237, 237, 237) 1px;
	border-radius: 2px;
	padding: 0 !important;
	padding-left: 0;
}

.buying-ticket .theater-menu .ant-menu-item {
	padding: 10px 20px !important;
	border: solid rgb(237, 237, 237) 1px;
	border-radius: 2px;
	padding: 0 !important;
	padding-left: 0;
	height: 60px;
}

.steps-content {
	min-height: 200px;
	margin-top: 16px;
	padding-top: 80px;
	background-color: #fafafa;
	border: 1px dashed #e9e9e9;
	border-radius: 2px;
  }
  
.steps-action {
margin-top: 24px;
}

.ant-layout-content {
	background-image: url("https://phunugioi.com/wp-content/uploads/2020/02/mau-background-dep.jpg");
	background-size: cover;

}

.test:before {
content: ' ';
display: block;
position: fixed;
top: 0;
left: 0;
top: 0;
width: 100%;
height: 100%;
/* background: #222; */
opacity: 0.6;
background: url('https://www.kinomeister.de/wp-content/uploads/2020/08/sith4.jpg');
}


/* select ticket */
.select-ticket {
	margin: 10px;
}
.steps-content {
	padding: 0px;
}

.ant-divider {
	margin: 5px;
}
.detail-ticket {
	text-align: left;
}
.steps-content {
	margin-top: 0;
}
/* seat ticket */
.seat {
	padding: 5px;
	margin: 0 2px;
	background-size: cover;
	width: 30px;
	cursor: pointer;
}

.select-seat {
	width: 100%;
	min-height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow: visible;
}

.screen {
	background-color: #2222;
	padding: 5px;
	width: 100%;
	margin: 15px 0;
	box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
	text-align: center;
}

.seat-type {
	width: 20px;
	height: 20px;
	margin-right: 10px;
	border: 1px solid #888;
}

.booking {
	border: none;
	background: #ff4d4f;
}

.chossing {
	border: none;
	background: #2196f3;
}

.container-seat {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.header-container {
	display: flex;
	justify-content: space-between;
}

.nav-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu {
	min-width: 400px;
}


@media only screen and (max-width: 400px) {
    .menu {
		min-width: 30px;
	}

	.logo img {
		width: 80%;
		margin-left: 10px;
	}
}

.text-logo {
	font-size: 26px;
	font-weight: bold;
}

.ant-card-cover img {
	height: 300px;
}

.movies-list .ant-card-cover img {
	height: 240px;
}

.progress-ticking .ant-card-cover img {
	height: 200px;
}

.movie-infor {
	list-style: none;
	padding-left: 0px;
}

.movie-infor li {
	padding-bottom: 10px;
}
.movie-infor span {
	font-weight: bold;
}